#game{
    width: 60em;
    height: 30em;
    border:1px solid #000000;
}

#all {width: 73%;
    background-image: url('backgroundWebsite.jpg');
margin: auto;
}

body {background-color: black;}

.heading {background-color:lightblue;
height: 230px;
text-align: center;
padding-top: 40px;
}

.heading h1 {font-style: italic;
    font-size: 70px;
}

.red {color: red;}

.yellow {color: yellow;}

.green {color: green;}

.blue {color: blue;}


.img1 img{position: absolute;
    left: 20%;
    top: 20px;
    width: 250px;
    height: 230px;
}

.img2 img{position: absolute;
    right: 15%;
    top: 23px;
    width: 250px;
    height: 230px;}


#flex_container {
  display: flex;
  justify-content: space-evenly;}

#flex_container a {text-decoration: none;
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: bold;
    color: blue;
}

#flex_container .pulseit{ background: linear-gradient(rgb(137, 6, 6),red);
  border: 3px solid black;
  border-radius: 80px;
  color: white;
  display: inline-block;
  margin: -5px;
  padding: 10px;
  font-size: 12px;
  height: 10px;
  width: 75%;
  text-decoration: none;
    -webkit-animation: flash linear 1s infinite;
	animation: flash linear .5s infinite;
}
@-webkit-keyframes flash {
	0% { background: linear-gradient(rgb(137, 6, 6),red); }
	50% { background: linear-gradient(rgb(35, 16, 236),rgb(164, 160, 218)); }
	100% { background: linear-gradient(rgb(137, 6, 6),red); }
}
@keyframes flash {
	0% { background: linear-gradient(rgb(137, 6, 6),red); }
	50% { background: linear-gradient(rgb(35, 16, 236),rgb(164, 160, 218)); }
	100% { background: linear-gradient(rgb(137, 6, 6),red); }
}

#flex_container div {background-color: rgb(147, 145, 145);
    border:  4px solid black;
    padding: 4px;
    flex: auto;
    display: block;
    text-align: center;
    padding: 8px;}

#home, #forums, #play, #help, #donate{
    padding: 0px;
    text-align: left;
    width: 1200px;
    margin: 0 auto;
}

#main {width: 90%;
margin: auto;
}

#main .subhead {font-size: 30px;
    font-weight: bold;
}
 #info {width: 80%;
margin-bottom: 2%;
font-size: 22px;
background-color: white;
border: 1px solid black;
padding-bottom: 5%;
padding-left: 1%;
padding-top: 1%;
}


#box {background-color:rgba(181, 171, 171);
    display: none;
    position: fixed;
    left: 35% ;
    top: 200px;
    width: 30%;
    height: 250px;
    padding: 30px;
    font-size: 30px;
    border: 8px solid black ;
}

#box h3{text-align: center;
    font-weight: solid;
    color: red;
    font-size: 30px;
    margin-bottom: -20px;
}

#box .claim {background-color: rgba(181, 171, 171);
    border: 2px solid black;
    top: 30px;
    left: 30px;
    width: 80px;
    padding: 10px;
    margin:auto;
    text-align: center;
    font-weight: bold;}


#box .claim a{text-decoration: none;
color: black;
}

#box .exit a{text-decoration:none}

#exit {
    top: 2%;
    right: 5%;
    width: 8px;
    height: 5px;
    text-align: center;
    font-weight: bold;
position: absolute;}

#exit a{text-decoration: none;
     color: black;
    }

#submit_box {background-color:rgba(181, 171, 171);
    display: none;
    position: fixed;
    left: 35% ;
    top: 200px;
    width: 30%;
    height: 250px;
    padding: 30px;
    font-size: 30px;
    border: 8px solid black ;}

#button1 {background-color: rgba(181, 171, 171);
 border: 2px solid black;
    top: 30px;
    left: 30px;
    width: 20%;
    padding: 5px 9px;
    margin:auto;
    text-align: center;
    font-weight: bold; 
    text-decoration: none;
    color: black;
border-radius: 10px;}


#share_box {background-color:rgba(181, 171, 171);
    display: none;
    position: fixed;
    left: 35% ;
    top: 200px;
    width: 30%;
    height: 200px;
    padding: 30px;
    font-size: 30px;
    border: 8px solid black ;
}

#help_box{background-color:rgba(181, 171, 171);
    display: none;
    position: fixed;
    left: 35% ;
    top: 200px;
    width: 30%;
    height: 200px;
    padding: 30px;
    font-size: 30px;
    border: 8px solid black}

#forums .textbox1 {background-color: white;
padding: 0.6%;
border: 2px solid black;
width: 89%;
}

#forums .textbox2 {background-color: white;
padding: 2px;
border: 2px solid black;
width: 90%;
height: 150px;}

fieldset {width: 80%;}

#play {margin-top: 5%;}
#play .keyboard{position: relative;
left: 15%;
}
#play .keyboard img{width: 50%;}

.share {
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;

}

.share a {
  background: linear-gradient(rgb(137, 6, 6),red);
  border: 3px solid black;
  border-radius: 80px;
  color: white;
  display: inline-block;
  margin: 30px;
  padding: 14px;
  text-decoration: none;
  width: 20%;
  font-weight: bold;
  font-size: 20px;
}
